.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100vh;
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}
ul {
  margin: 0;
  padding: 0;
}
.container ul li {
  list-style-type: none;
  cursor: pointer;
  padding: 5px;
}
.done {
  text-decoration: line-through;
  color: #ccc;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
